<header id="main-header" class="py-2 bg-info text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fas-user"></i> Editar Producto</h1>
      </div>
    </div>
  </div>
</header>

<!-- Se Crea el Formulario del Cliente Modal -->
<form #productoForm="ngForm" (ngSubmit)="guardar(productoForm)">
  <flash-messages></flash-messages>

  <!-- Botones del Formulario -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/productos" class="btn btn-light btn-block">
            <i class="fas fa-arrow-left"></i> Regresar al Inicio
          </a>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fa fa-check"></i> Guardar Producto
          </button>
        </div>
        <div class="col-md-3">
          <a  (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fas fa-trash"></i> Eliminar Producto
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Producto</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="productoFront.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <!-- Esta linea es para aceptar mas de 2 caracteres en el input. -->
                <div
                  [hidden]="!nombre.errors?.required"
                  class="invalid-feedback"
                >
                  Nombre Requerido 
                </div>
                <div
                  [hidden]="!nombre.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe tener almenos 2 caracteres la caja de texto 
                </div>
              </div>

              <div class="form-group">
                <label for="caracteristica">Caracteristica</label>
                <input
                  type="text"
                  name="caracteristica"
                  class="form-control"
                  #caracteristica="ngModel"
                  [(ngModel)]="productoFront.caracteristica"
                  [ngClass]="{
                    'is-invalid': caracteristica.errors && caracteristica.touched
                  }"
                  required
                  minlength="2"
                />
                <!-- Esta linea es para aceptar mas de 2 caracteres en el input. -->
                <div
                  [hidden]="!caracteristica.errors?.required"
                  class="invalid-feedback"
                >
                  Caracteristica Requerido !!!
                </div>
                <div
                  [hidden]="!caracteristica.errors?.minlength"
                  class="invalid-feedback"
                >
                  Debe tener almenos 9 caracteres la caja de texto !!!
                </div>
              </div>
              <div class="form-group">
                <label for="precio">Precio</label>
                <input
                  type="number"
                  name="precio"
                  class="form-control"
                  #precio="ngModel"
                  [(ngModel)]="productoFront.precio"
                  [ngClass]="{ 'is-invalid': precio.errors && precio.touched }"
                  required
                />
                <div
                  [hidden]="!precio.errors?.required"
                  class="invalid-feedback"
                >
                  El Precio Es Requerido 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
