
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Sistema Enmetal</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn" class="nav-item px-2">
        <a routerLink="clientes" routerLinkActive="router-link-active" class="nav-link"> Clientes</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item px-2">
        <a routerLink="productos" routerLinkActive="router-link-active" class="nav-link"> Productos</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item px-2">
        <a routerLink="cotizaciones" routerLinkActive="router-link-active" class="nav-link"> Cotizaciones</a>
      </li>
      <li *ngIf="isLoggedIn && !isEmployee" class="nav-item px-2">
        <a routerLink="empleados" routerLinkActive="router-link-active" class="nav-link"> Empleados</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLoggedIn" class="nav-item dropdown mr-3">
        <a href="#" class="nav-link" data-toggle="dropdown">
          <i class="fas fa-user mr-2" ></i>Bienvenido {{loggedInUser}}
        </a>
      </li>

      <li *ngIf="!isLoggedIn" class="nav-item">
        <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active">
          <i class="fas fa-user"></i> Login
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a style="cursor: pointer" (click)="logout()" class="nav-link">
          <i class="fas fa-sign-out-alt"></i> Salir
        </a>
      </li>
    </ul>
  </div>
</div>
</nav>
